<div class="container">
  <form [formGroup]="photoForm" class="row" (submit)="upload()">
    <div class="col-md-6 text-center">
      <div class="form-group" *ngIf="!preview; else previewImage">
        <button immediateClick type="button" (click)="fileInput.click()" class="btn btn-primary">
              <i class="fa fa-image fa-4x align-middle"></i>
        </button>      
        <input 
          #fileInput
          hidden
          formControlName="file" 
          type="file" 
          accept="image/*"
          (change)="handleFile($event.target.files[0])"
        >
        <ap-vmessage
          text="Please, select a photo" 
          *ngIf="photoForm.get('file').errors?.required"
        >
        </ap-vmessage>
      </div>

      <ng-template #previewImage>
        <div class="text-center">
          <ap-photo [url]="preview" title="Preview">
          </ap-photo>
        </div>
      </ng-template>

    </div>

    <div class="col-md-6">
        <div class="form-group">
        
            <input type="text" 
              formControlName="title" 
              class="form-control form-control-sm" 
              placeholder="photo title" />
              <ap-vmessage
                text="Max length is 30" 
                *ngIf="photoForm.get('title').errors?.maxlength"
              >
            </ap-vmessage>          
          </div>
      <div class="form-group">
        
        <textarea 
          formControlName="description" 
          class="form-control form-control-sm" 
          placeholder="photo description"></textarea>
          <ap-vmessage
            text="Max length is 300" 
            *ngIf="photoForm.get('description').errors?.maxlength"
          >
        </ap-vmessage>          
      </div>

      <div class="form-group">
        <label class="text-muted">
          Allow comments
          <input formControlName="allowComments"  type="checkbox">
        </label>
      </div>

      <button  type="submit" class="btn btn-primary btn-block">
        Upload
      </button>

      <a class="btn btn-secondary btn-block">Cancel</a>
    </div>
  </form>
<div class="mt-4 text-center">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3673.867451841911!2d-43.1714084498578!3d-22.955108145293487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x99801c7b00d127%3A0x61b150085d360085!2sUNIRIO+-+CCHS!5e0!3m2!1spt-BR!2sbr!4v1542980454257" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>