<header class="fixed-top">
    <title>LOCARIO</title>
    <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand" [routerLink]="['']">LOCARIO</a>

        <div *ngIf="(user$ | async) as user; else login">
            <i class="fa fa-user-circle mr-1"></i>
            <a class="mr-1" (click)="profile(user.name)">{{user.name}}</a>
            <a (click)="logout()">(Logout)</a>
            <a (click)="deactive(user.name)">(Deactivate)</a>
        </div>

        <ng-template #login>
            <span class="navbar-text">
                <a [routerLink]="['']">Please, login!</a>
            </span>
        </ng-template> 
    </nav>
    <div class="fixed-top">
        <ap-alert></ap-alert>
    </div>
</header>
